<div>
  <div>{{$ctrl.currentEnteredValue || $ctrl.result || 0}}</div>
  <div>{{$ctrl.operation}}</div>
<div>
<div>
  <button ng-click="$ctrl.updateNumber(1)">1</button>
  <button ng-click="$ctrl.updateNumber(2)">2</button>
  <button ng-click="$ctrl.updateNumber(3)">3</button>
  <button ng-click="$ctrl.divide()">/</button>
</div>
<div>
  <button ng-click="$ctrl.updateNumber(4)">4</button>
  <button ng-click="$ctrl.updateNumber(5)">5</button>
  <button ng-click="$ctrl.updateNumber(6)">6</button>
  <button ng-click="$ctrl.multiply()">*</button>
</div>
<div>
  <button ng-click="$ctrl.updateNumber(7)">7</button>
  <button ng-click="$ctrl.updateNumber(8)">8</button>
  <button ng-click="$ctrl.updateNumber(9)">9</button>
  <button ng-click="$ctrl.minus()">-</button>
</div>
<div>
  <button ng-click="$ctrl.updateNumber(0)">0</button>
  <button ng-click="$ctrl.updateNumber('.')">.</button>
  <button ng-click="$ctrl.equal('.')">=</button>
  <button ng-click="$ctrl.plus()">+</button>
</div>
